[submodule "GroundingDINO"]
	path = GroundingDINO
	url = git@github.com:starburst997/GroundingDINO.git
[submodule "detectron2"]
	path = detectron2
	url = git@github.com:starburst997/detectron2.git
[submodule "segment-anything"]
	path = segment-anything
	url = git@github.com:starburst997/segment-anything.git
